body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; /* Улучшает сглаживание шрифтов в Safari */
  -webkit-text-size-adjust: 100%; /* Устранение автоматического масштабирования текста на некоторых устройствах */
  padding: 10px; /* Удобные отступы для контента */
}

/* <!-- header starts here Basulka --> */
header {
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2em;
  font-family: 'lobster', sans-serif; 
}

h2 {
  font-size: 1.2em;
  color: #555;
  font-family: 'poppins', sans-serif; 
}

.search-form {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.filter-container {
  position: relative;
  display: flex;
  align-items: center;
}

.filter-buttons, #btn-search {
  display: flex;
  gap: 10px;
}

.filter-btn, #btn-search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  height: 40px;
  font-size: 14px;
  background-color: #F3F4F6;
  color: #6A6A6A;
  border: 1px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover, #btn-search:hover {
  background-color: #EF2A39;
  color: #F5F5F5;
}

.filter-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-options label {
  display: block;
  margin-bottom: 8px;
}

.filter-options input {
  margin-right: 8px;
}

#filter-button:focus + .filter-options,
.filter-options:hover {
  display: block;
} 

.filter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  height: 40px;
  background-color: #EF2A39;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 0; /*убираем доп отступы между строками текста и изображения*/
}

.filter-button img {
  height: 40px; /* фикс высота для иконки */
}

.filter-button:hover {
  background-color: #b30000;
}


/* <!-- header ends here Basulka -->  */

/* <!-- user profile starts here AlenaGorina --> */
.profile-page {
  max-width: 100%;
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.profile-form .form-group {
  margin-bottom: 15px;
}

.profile-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.profile-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  display: inline-block;
  /* width: 100%; */
  padding: 12px;
  border: none;
  border-radius: 13px;
  background-color: #3c2f2f;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

button#logout {
  background-color: red;
}

/* Медиа-запросы для мобильных устройств (экраны до 768px) */
@media (max-width: 768px) {
  .profile-page {
    margin: 10px auto; /* Уменьшаем отступы */
    padding: 10px; /* Уменьшаем отступы внутри */
  }

  .profile-image {
    width: 70px; /* Ещё меньше размер изображения на очень маленьких экранах */
    height: 70px;
  }

  .profile-form label {
    font-size: 13px;
  }

  .profile-form input {
    font-size: 13px;
    padding: 6px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}
/*     <!-- user profile ends here AlenaGorina --> */

/* <!-- main starts here ann_petrowaa --> */
/* <!-- main ends here ann_petrowaa --> */

/* <!-- product starts here Светлана Л --> */
/* <!-- product ends here Светлана Л --> */

/* <!-- product5 starts here Peri --> */
/* <!-- product5 ends here Peri --> */

/* <!-- product5 starts here NadezhdaKov --> */
/* <!-- product5 ends here NadezhdaKov --> */

/* <!-- footer starts here MariaLukyanova --> */
/* <!-- footer ends here MariaLukyanova -->  */
