body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased; /* Улучшает сглаживание шрифтов в Safari */
    -webkit-text-size-adjust: 100%; /* Устранение автоматического масштабирования текста на некоторых устройствах */
    padding: 10px; /* Удобные отступы для контента */
  }


@font-face {
    font-family: 'Poppins';
    src: url(../fonts/poppins/Poppins-Thin.woff) format('woff'), 
    url(../fonts/poppins/Poppins-Thin.woff2) format('woff2');
    font-weight: 100;
}

@font-face {
font-family: 'Poppins';
    src: url(../fonts/poppins/Poppins-ExtraLight.woff) format('woff'),
    url(../fonts/poppins/Poppins-ExtraLight.woff2) format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
        src: url(../fonts/poppins/Poppins-Light.woff) format('woff'),
        url(../fonts/poppins/Poppins-Light.woff2) format('woff2');
        font-weight: 300;
    }

@font-face {
        font-family: 'Poppins';
            src: url(../fonts/poppins/Poppins-Regular.woff) format('woff'),
            url(../fonts/poppins/Poppins-Regular.woff2) format('woff2');
            font-weight: 400;
    }  
    
@font-face {
        font-family: 'Poppins';
            src: url(../fonts/poppins/Poppins-Medium.woff) format('woff'),
            url(../fonts/poppins/Poppins-Medium.woff2) format('woff2');
            font-weight: 500;
    }     

    @font-face {
        font-family: 'Poppins';
            src: url(../fonts/poppins/Poppins-SemiBold.woff) format('woff'),
            url(../fonts/poppins/Poppins-SemiBold.woff2) format('woff2');
            font-weight: 600;
    }  
    
    @font-face {
        font-family: 'Poppins';
            src: url(../fonts/poppins/Poppins-Bold.woff) format('woff'),
            url(../fonts/poppins/Poppins-Bold.woff2) format('woff2');
            font-weight: 700;
    }  

    @font-face {
        font-family: 'Poppins';
            src: url(../fonts/poppins/Poppins-ExtraBold.woff) format('woff'),
            url(../fonts/poppins/Poppins-ExtraBold.woff2) format('woff2');
            font-weight: 800;
    } 

    @font-face {
        font-family: 'Poppins';
            src: url(../fonts/poppins/Poppins-Black.woff) format('woff'),
            url(../fonts/poppins/Poppins-Black.woff2) format('woff2');
            font-weight: 900;
    } 

    @font-face {
        font-family: 'Poppins';
            src: url(../fonts/poppins/Poppins-Black.woff) format('woff'),
            url(../fonts/poppins/Poppins-Black.woff2) format('woff2');
            font-weight: 900;
    } 

    @font-face {
        font-family: 'Roboto';
            src: url(../fonts/roboto/Roboto-Thin.woff) format('woff'),
            url(../fonts/roboto/Roboto-Thin.woff2) format('woff2');
            font-weight: 100;
    } 

    @font-face {
        font-family: 'Roboto';
            src: url(../fonts/roboto/Roboto-Light.woff) format('woff'),
            url(../fonts/roboto/Roboto-Light.woff2) format('woff2');
            font-weight: 300;
    } 

    @font-face {
        font-family: 'Roboto';
            src: url(../fonts/roboto/Roboto-Regular.woff) format('woff'),
            url(../fonts/roboto/Roboto-Regular.woff2) format('woff2');
            font-weight: 400;
    }  

    @font-face {
        font-family: 'Roboto';
            src: url(../fonts/roboto/Roboto-Medium.woff) format('woff'),
            url(../fonts/roboto/Roboto-Medium.woff2) format('woff2');
            font-weight: 500;
    } 
    
    @font-face {
        font-family: 'Roboto';
            src: url(../fonts/roboto/Roboto-Bold.woff) format('woff'),
            url(../fonts/roboto/Roboto-Bold.woff2) format('woff2');
            font-weight: 700;
    } 
    
    @font-face {
        font-family: 'Roboto';
            src: url(../fonts/roboto/Roboto-Black.woff) format('woff'),
            url(../fonts/roboto/Roboto-Black.woff2) format('woff2');
            font-weight: 900;
    } 
   
    p {
        padding: 0;
        margin: 0;
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    img {
        width: 100%;
    }


    /* <!-- header starts here Basulka --> */
/* <!-- header ends here Basulka -->  */

/* <!-- user profile starts here AlenaGorina --> */
.profile-page {
    max-width: 100%;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    text-align: center;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  
  .profile-form .form-group {
    margin-bottom: 15px;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .profile-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    display: inline-block;
    /* width: 100%; */
    padding: 12px;
    border: none;
    border-radius: 13px;
    background-color: #3c2f2f;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button#logout {
    background-color: red;
  }
  
  /* Медиа-запросы для мобильных устройств (экраны до 768px) */
  @media (max-width: 768px) {
    .profile-page {
      margin: 10px auto; /* Уменьшаем отступы */
      padding: 10px; /* Уменьшаем отступы внутри */
    }
  
    .profile-image {
      width: 70px; /* Ещё меньше размер изображения на очень маленьких экранах */
      height: 70px;
    }
  
    .profile-form label {
      font-size: 13px;
    }
  
    .profile-form input {
      font-size: 13px;
      padding: 6px;
    }
  
    button {
      padding: 10px;
      font-size: 14px;
    }
  }
  /*     <!-- user profile ends here AlenaGorina --> */
  
  /* <!-- main starts here ann_petrowaa --> */
  /* <!-- main ends here ann_petrowaa --> */

    /* product starts here  */
  .product-card__arrow-back:hover {
    transform: scale(1.1);
  }

    .product-card {
        max-width: 430px;
        margin: 0 auto;
    }

    .product-card__img {
        max-width:350px;
        margin: 0 auto;
    }

    .product-card__h1 {
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: #3C2F2F;
        padding-bottom:9px;
    }

    .product-card__settings {
        display: flex;
        justify-content:space-between;
        margin-bottom: 73px;
    }

    input[type=range] {
        -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #EF2A39;
        width: 10px; 
        height: 18px; 
        border-radius: 4px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid #fff;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px; 
        background-color: #EF2A39; 
        border-radius: 50px;
    }

    .product-card__raiting {
        padding-bottom: 19px;
    }

    .product-card__raiting-star {
        display: inline-block;
    }

    .product-card__raiting-star-img {
        position: relative;
        top:3px
    }

    .product-card__raiting-points {
        font-family: 'Roboto', Arial, sans-serif;
        color: #808080;
        font-size: 15px;
        display: inline-block;
    }

    .product-card__raiting-mins {
        font-family: 'Roboto', Arial, sans-serif;
        color: #808080;
        font-size: 15px;
        display: inline-block;
    }

    .product-card__description {
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #808080;
        margin-bottom:29px;
    }

    .product-card__slider {
        max-width: 168px;
    }

    .product-card__slider-title {
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 500;
        color: #3C2F2F;
        font-size:14px;
        padding-bottom: 11px;
    }

    .product-card__slider-description-mild {
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #1CC019;
    }

    .product-card__slider-description-hot {
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #EF2A39;
    }

    .product-card__slider-description {
        display: flex;
        justify-content: space-between
    }

    #spicy {
        width: 165px;
        padding-bottom: 7px;
    }

    .product-card__setting {
        display: flex;
    }

    .product-card__arrow-back {
        max-width:28px;
    }

    .product-card__setting-price {
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 600;
        font-size: 22px;
        padding: 24px;
        border-radius: 20px;
        background-color: #EF2A39;
        color: #fff;
    }

    .product-card__quantity-title {
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 500;
        color: #3C2F2F;
        font-size:14px;
        padding-bottom: 11px;
    }

    .product-card__quantity-button {
        margin-top:0;
        width:40px;
        height:40px;
        border-radius: 10px;
        background-color: #EF2A39;
        color: #fff;
        outline: none; 
        border: none;
        font-size: 40px;
    }

    .product-card__quantity-button-group {
        display:flex;
    }

    .product-card__quantity-number {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .product-card__quantity-sign {
        width:10px;
    }

    .product-card__quantity-number {
        font-family: 'Inter', Arial, sans-serif;
        width:40px;
        height:40px;
        margin: 0 auto;
        font-weight: 500;
        color: #3C2F2F;
        font-size:18px
    }

    .product-card__setting-order {
        font-family: 'Inter', Arial, sans-serif;
        font-size: 18px;
        font-weight: 600;
        background-color: #3C2F2F;
        color: #fff;
        width:239px;
        height:73px;
        border-radius: 20px;
    }

    .product-card__setting {
        display: flex;
        justify-content: space-between
    }

    .product-card__image-button1 {
        position: relative;
        bottom:23px;
        width:20px;
    }

    .product-card__image-button2 {
        position: relative;
        bottom:16px;
        width:20px;
    }

    @media (max-width:) {
        .product-card__setting-order {
            max-width:180px
        }
    }


    /* product ends here    */

    /* <!-- product5 starts here Peri --> */
/* <!-- product5 ends here Peri --> */

/* <!-- product5 starts here NadezhdaKov --> */
/* <!-- product5 ends here NadezhdaKov --> */

/* <!-- footer starts here MariaLukyanova --> */
/* <!-- footer ends here MariaLukyanova -->  */
